body {
    width: 80%;

    background-color: darkgrey;
}
header {
    margin-top: 20px;
}

footer {
    background-color: #000000;
    color: #cccccc;
    font-style: italic;
    margin-top: 40px;
    padding: 60px 0;
}

.jumbotron {
    text-align: center;
    background-color: black;
    color: aliceblue;
}

.contact {
    width: 30em;
    margin-left: 35em;
    
}

.rowA, .rowB {
    background-color: black;
    color: aliceblue;
}

/********************************************
* Utility Styles
*
* These are intended to be re-used
* for styling purposes
********************************************/
.content-box {
    background-color: #cccccc;
    border-radius: 6px;
    padding: 10px 15px 15px;
    margin-bottom: 20px;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sfooter-content {
    flex: 1 0 auto;
}
