

body{

    alignment: center;
    background-color: black;
}

main{
    color: dimgrey;
    background-color: black;

    text-align: center;
    border: 3px darkred dotted;
    padding: 1em;
    width: 22em;
    height: 5em;
}

h1{
    float: left;
}


.section_one{
    float: left;
    color: firebrick;
    padding-right: 35em;
}



img[src="css/bikenCoffee.jpeg"]{
    width: 15em;
    float: right;
}


img[src="css/goal.jpeg"]{
    width: 18em;
    float: left;
}
