.contents{
    padding-right: 24em;
    padding-left: 7em;
}

body{
    padding-left: 20em;
    alignment: center;
    background-color: black;
}

main{
    color: dimgrey;
    background-color: black;
    margin: 0 4em 2em -14em ;
    text-align: center;
    border: 3px darkred dotted;
    padding: 1em;
    width: 22em;
    height: 5em;
}

h1{
    float: left;
}
em{
    float: left;
    text-align: justify;
    padding-top: 16%;
}

.section_one{
    float: left;
    color: firebrick;
}

.section_two {
    color: firebrick;
}

img [src="css/abq.jpeg"]{

    width: 5em;
    padding-left: 40em;

}

img[src="css/bikenCoffee.jpeg"]{
    width: 15em;
    float: right;
}


img[src="css/goal.jpeg"]{
    width: 18em;
}

img[src="css/emily.jpeg"]{
    width: 5em;
}
