body{
    alignment: center;
    margin-left: 15em;
    background-color: black;
}

main{
    color: dimgrey;
    background-color: black;
    margin-right: 4em;
    margin-left: 3em;
    text-align: center;
    margin-bottom: 2em;
    border: 3px darkred dotted;
    padding: 1em;
    width: 700px;
    height: 80px;
}

h1{
    float: left;
}
em{
    float: left;
    text-align: justify;
    padding-top: 6%;
}

.PAG{
    background-color: grey;
    color: firebrick;
    text-align: center;
    border: 3px dotted;
    padding: 2rem;
    height: 350px;
    margin-right: 12em;

}
.goal{
    margin-right: 1em;
    float: left;

}
.persona{
    text-align: center;
    margin-top: 2em;
    color: firebrick;
    border: 3px darkred dotted;
    padding: 1em;
    width: 800px;
    background: darkgrey;
}

.emily {
    height: 20%;
    float: right;
    border: 3px;
}
.use-case {
    display: block;
    color: grey;
    background-color: black;
    margin-top: 2em;
    border: 3px darkred dotted;
    padding: 3em;
    width: 735px;
}



/* I'm killing this code for now but want to keep it for future reference
*
*
* purpose
.PAG > p:nth-child(1){
    background-color: black;
    float: left;
    border: 1px darkred dotted;
    padding: 1em;
    width: 300px;
    height: 115px;
}

* audience
.PAG > p:nth-child(2){
    background-color: black;
    float: inherit;
    border: 1px darkred dotted;
    padding: 1em;
    height: 115px;
    width: 400px;
}

/* goal
.PAG > p:nth-child(3){
    background-color: black;
    float: right;
    border: 1px darkred dotted;
    padding: 2em;
    width: 400px;
    height: 90px;
    margin: 10px;

}
*/